.col_white_amrc { color:#FFF;}

footer p { font-size:13px; color:#000; padding-bottom:0px; margin-bottom:8px;}

footer.dark { width:100%; background-color:#000; min-height:250px; padding:10px 0px 25px 0px ; margin-top: 0%;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer.dark p{color:#CCC;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}

footer.dark .footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a{ color:#000;}

footer.dark .footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.footer_ul_amrc li a:hover{ color:#a2a5a7; text-decoration:none;}

.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
footer.dark .foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}
.foote_bottom_ul_amrc li a { color:#000; margin:0 12px;}

.social_footer_ul { display:table; margin:5px auto 0 0; list-style-type:none;  }
.social_footer_ul li { padding-left:10px; padding-top:10px; float:left; }
footer.dark .social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li a { color:#000; border:1px solid #000; padding:8px;border-radius:50%;}

.social_footer_ul li i {  width:20px; height:20px; text-align:center;}

/* Credit to https://bootsnipp.com/snippets/bxDBA */